@import 'https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.min.css';
@import 'https://cdn.jsdelivr.net/npm/disqusjs@1.2/dist/disqusjs.css';
pre,
.highlight {
  overflow: auto;
  margin: 20px 0;
  padding: 0;
  font-size: 13px;
  color: #4d4d4c;
  background: #f7f7f7;
  line-height: 1.6;
}
pre,
code {
  font-family: consolas, Menlo, "PingFang SC", "Microsoft YaHei", monospace;
}
code {
  padding: 2px 4px;
  word-wrap: break-word;
  color: #555;
  background: #eee;
  border-radius: 3px;
  font-size: 13px;
}
pre {
  padding: 10px;
}
pre code {
  padding: 0;
  color: #4d4d4c;
  background: none;
  text-shadow: none;
}
.highlight {
  border-radius: 1px;
}
.highlight pre {
  border: none;
  margin: 0;
  padding: 10px 0;
}
.highlight table {
  margin: 0;
  width: auto;
  border: none;
}
.highlight td {
  border: none;
  padding: 0;
}
.highlight figcaption {
  font-size: 1em;
  color: #4d4d4c;
  line-height: 1em;
  margin-bottom: 1em;
}
.highlight figcaption:before,
.highlight figcaption:after {
  content: " ";
  display: table;
}
.highlight figcaption:after {
  clear: both;
}
.highlight figcaption a {
  float: right;
  color: #4d4d4c;
}
.highlight figcaption a:hover {
  border-bottom-color: #4d4d4c;
}
.highlight .gutter pre {
  padding-left: 10px;
  padding-right: 10px;
  color: #869194;
  text-align: right;
  background-color: #eff2f3;
}
.highlight .code pre {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f7f7f7;
}
.highlight .line {
  height: 20px;
}
.gutter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.gist table {
  width: auto;
}
.gist table td {
  border: none;
}
pre .deletion {
  background: #fdd;
}
pre .addition {
  background: #dfd;
}
pre .meta {
  color: #8959a8;
}
pre .comment {
  color: #8e908c;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #c82829;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant,
pre .command {
  color: #f5871f;
}
pre .ruby .class .title,
pre .css .rules .attribute,
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata,
pre .special,
pre .number,
pre .formula {
  color: #718c00;
}
pre .title,
pre .css .hexcolor {
  color: #3e999f;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #4271ae;
}
pre .keyword,
pre .javascript .function {
  color: #8959a8;
}
@font-face {
  font-family: 'Candyshop';
  src: url("/fonts/Candyshop.otf");
}
body {
  position: relative;
  margin: 0;
  font-family: "PingFang SC", "Microsoft YaHei", Lato, sans-serif;
  font-size: 14px;
  line-height: 2;
  color: #555;
  background: #efefef;
  cursor: url("../images/cursor.png"), auto;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
a {
  color: #00f;
}
a:hover {
  color: #f900ff;
}
a:hover,
a:active {
  outline: 0;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
input {
  line-height: normal;
}
img {
  border: 0;
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  line-height: 1.5;
  font-family: "PingFang SC", "Microsoft YaHei", Lato, sans-serif;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
[hidden],
template {
  display: none;
}
.clear-float {
  clear: both;
}
.btn {
  display: inline-block;
  padding: 0 20px;
  font-size: 14px;
  color: #555;
  background: #fff;
  border: 2px solid #555;
  text-decoration: none;
  border-radius: 2px;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  line-height: 2;
}
.btn {
  background: #97dffd;
  color: #fff;
  font-size: 13px;
  padding: 1px 15px;
  border-radius: 5px;
  border: none;
}
.btn:hover {
  border-color: #222;
  color: #fff;
  background: #97dffd;
}
.scaleup {
  transition: 0.3s ease;
}
.scaleup:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.container {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}
.site-nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  text-shadow: 0 1px 1px rgba(11,8,231,0.6);
  background: linear-gradient(rgba(0,0,0,0.3), transparent);
  z-index: 3;
}
.menu {
  position: relative;
  margin-top: 0;
  padding-left: 0;
  margin: 0 auto;
  width: 1110px;
  text-align: left;
}
.menu .menu-item {
  position: relative;
  display: inline-block;
  height: 58px;
  line-height: 58px;
  border: 0;
  text-align: left;
  color: #fff;
}
.menu .menu-item .submenu {
  position: absolute;
  left: -10px;
  right: -10px;
  top: 58px;
  text-align: center;
  list-style-type: none;
  background: #fff;
  overflow: hidden;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  height: 0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.14);
}
@media (max-width: 991px) {
  .menu .menu-item .submenu {
    left: -30px;
    right: -30px;
  }
}
.menu .menu-item .submenu a {
  border-bottom: none;
  line-height: 20px;
  padding: 10px 0;
  color: #444;
  text-shadow: none;
  font-size: 14px;
}
.menu .menu-item .submenu .submenu-item:hover {
  background: #eee;
}
.menu .menu-item a {
  display: block;
  box-sizing: border-box;
  padding: 0 12px;
  line-height: inherit;
  color: #fff;
  font-size: 16px;
  border-bottom: none;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}
.menu .menu-item a i {
  margin-right: 5px;
}
@media (max-width: 991px) {
  .menu .menu-item a i {
    display: none;
  }
}
.menu .menu-item a br {
  display: none;
}
.menu .menu-item.search {
  float: right;
  margin: 0 0 0 20px;
}
.menu .menu-item.search .search-input {
  border: none;
  border-radius: 4px;
  color: #555;
  font-size: 13px;
  outline: 0;
  width: 0;
  padding: 3px 0;
  transition: all 0.5s ease-in-out;
}
.menu .menu-item.search .search-submit {
  cursor: pointer;
  margin-left: 5px;
  background: 0 0;
  padding: 0;
  border: none;
  outline: 0;
}
.menu .menu-item.search .search-submit i {
  font-size: 17px;
  margin: 0;
  text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
.menu .menu-item.search:hover .search-input {
  padding: 8px;
  width: 120px;
}
@media (max-width: 991px) {
  .menu .menu-item.search {
    display: none;
  }
}
.menu .menu-item.online {
  float: right;
  font-size: 12px;
  margin: 0;
}
@media (max-width: 991px) {
  .menu .menu-item.online {
    display: none;
  }
}
@media (max-width: 991px) {
  .menu .menu-item {
    text-align: center;
    padding: 0;
  }
}
@media (max-width: 991px) {
  .menu .menu-item {
    flex: 1;
    -webkit-box-flex: 1;
    margin: 0;
  }
}
@media (max-width: 991px) {
  .menu {
    display: flex;
    width: 100%;
  }
}
.site-brand-wrapper {
  position: relative;
  height: 650px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/minato-aqua.jpg");
}
@media (max-width: 991px) {
  .site-brand-wrapper {
    height: 320px;
  }
}
.site-meta {
  padding: 20px 0;
  color: #fff;
  margin: 0;
  text-align: center;
}
.brand {
  padding: 0;
  background: 0 0;
  position: relative;
  top: 320px;
  font-size: 68px;
  text-align: center;
  text-shadow: 0 1px 1px #47456d;
  margin-bottom: 130px;
  z-index: 1;
  font-family: Candyshop;
  display: block;
  color: #fff;
  border-bottom: none;
}
@media (max-width: 991px) {
  .brand {
    font-size: 7.8vw;
    top: 156px;
    margin-bottom: 0;
  }
}
.brand .site-title {
  text-shadow: 1px 1px 0 #ff3f1a, -1px -1px 0 #00a7e0;
}
.brand .site-title .animate {
  transition: 0.3s;
  position: absolute;
  top: 0;
}
.brand .site-title .animate span {
  position: absolute;
  opacity: 0;
}
.brand .site-title .animate svg {
  fill: #f900ff;
  overflow: visible;
  text-shadow: none;
  height: 1px;
}
.brand .site-title .animate use {
  stroke: #fff;
  stroke-width: 13px;
  stroke-linejoin: round;
}
.brand .site-title .guide {
  visibility: hidden;
  pointer-events: none;
}
.site-master {
  text-align: center;
  width: 70%;
  margin: auto;
  padding: 40px 0;
  padding-bottom: 40px;
  font-size: 16px;
  opacity: 0.98;
  z-index: 1;
  animation: b 1s ease-out;
  position: relative;
  border-radius: 5px;
}
@media (max-width: 991px) {
  .site-master {
    display: none;
  }
}
.site-master .site-master-avatar {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 2px dashed #fff;
  padding: 5px;
}
.site-master .site-master-description {
  font-size: 18px;
  font-weight: 700;
  margin: 20px 0 0;
  display: inline-block;
  color: #97dffd;
  text-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff;
}
.footer {
  position: relative;
  width: 100%;
  margin: 0;
  text-align: center;
  padding: 15px 0 10px;
  font-size: 12px;
  line-height: 1.5;
  min-height: 50px;
}
.footer .footer-inner {
  box-sizing: border-box;
}
.footer .footer-inner p {
  margin: 5px 0;
}
@media (max-width: 991px) {
  .footer .footer-inner p {
    padding: 0 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
  }
}
.main {
  padding-bottom: 120px;
}
.main:after,
.main:before {
  content: " ";
  display: table;
}
.main:after {
  clear: both;
}
.container .main-inner {
  width: 1110px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .container .main-inner {
    width: auto;
  }
}
.container .main-inner .content-wrap {
  display: inline-block;
  box-sizing: border-box;
  width: 772px;
  min-height: 700px;
  box-shadow: initial;
  border-radius: initial;
}
@media (max-width: 991px) {
  .container .main-inner .content-wrap {
    width: 100%;
    padding: 0;
    min-height: auto;
    border-radius: initial;
  }
}
.posts-expand {
  padding-top: 0;
}
.post {
  position: relative;
  padding: 40px;
  background: #fff;
  margin-bottom: 40px;
  border-radius: 5px;
}
.post .post-date {
  background-color: #97dffd;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
  position: absolute;
  top: -20px;
  left: -30px;
  height: 60px;
  width: 70px;
  padding-top: 10px;
  border-radius: 100px;
  color: #fff;
  text-align: center;
  line-height: 1.1;
}
@media (max-width: 991px) {
  .post .post-date {
    display: none;
  }
}
.post .post-date .post-day {
  font-size: 30px;
  font-weight: 700;
}
.post .post-badge {
  position: absolute;
  left: -16px;
  top: 105px;
  border-color: #47456d;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
  background-color: #97dffd;
  margin: 5px 0 15px 2px;
  font-size: 14px;
  border-radius: 0 4px 4px 0;
  display: inline-block;
  padding: 7px 11px 7px 32px;
  line-height: 1;
}
@media (max-width: 991px) {
  .post .post-badge {
    display: none;
  }
}
.post .post-badge:after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  border-top: 0 solid transparent;
  border-right-width: 1em;
  border-right-color: inherit;
  border-right-style: solid;
  border-bottom: 1em solid transparent;
  border-left: 0 solid transparent;
  width: 0;
  height: 0;
}
.post .post-badge a {
  color: #fff;
}
.post .post-header {
  margin-bottom: 20px;
}
.post .post-header .post-title {
  text-align: center;
  word-break: break-word;
  font-weight: 400;
}
.post .post-title-link {
  display: inline-block;
  position: relative;
  color: #555;
  border-bottom: none;
  line-height: 1.2;
  vertical-align: top;
}
.post .post-title,
.post .post-title-link {
  color: #444;
  font-size: 25px;
  font-weight: 700;
}
.post .post-meta-item-icon {
  margin-right: 3px;
}
.post .post-meta {
  margin: 3px 0 60px 0;
  color: #555;
  margin-top: 5px;
  font-family: "PingFang SC", "Microsoft YaHei", Lato, sans-serif;
  font-size: 12px;
  text-align: center;
}
.post .post-meta .post-time {
  color: #00a7e0;
}
.post .post-meta .post-wordcount {
  color: #000;
  display: inline-block;
}
.post .post-meta .post-wordcount .post-meta-divider {
  margin: 0 0.5em;
}
@media (max-width: 991px) {
  .post .post-body {
    text-align: justify;
  }
}
.post .post-button {
  margin-top: 40px;
}
.post .text-center {
  text-align: center;
}
.post .post-nav {
  display: table;
  margin-top: 15px;
  width: 100%;
  border-top: 1px solid #eee;
}
.post .post-nav .post-nav-item {
  display: table-cell;
  padding: 40px 0 0 0;
  width: 45%;
  vertical-align: top;
}
.post .post-nav .post-nav-item a {
  position: relative;
  display: block;
  line-height: 25px;
  font-size: 14px;
  color: #555;
  border-bottom: none;
  padding-left: 15px;
}
.post .post-nav .post-nav-divider {
  display: table-cell;
  width: 10%;
}
.post .post-nav .post-nav-prev {
  text-align: right;
}
.post .post-nav .post-nav-prev a {
  padding-right: 15px;
}
.page-number-basic,
.pagination .next,
.pagination .page-number,
.pagination .prev,
.pagination .space {
  display: inline-block;
  position: relative;
  top: -1px;
  margin: 0 10px;
  padding: 0 11px;
}
.pagination .next,
.pagination .page-number,
.pagination .prev {
  border-bottom: 0;
  border-top: 1px solid #eee;
  transition-property: border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.pagination {
  margin: 20px 0;
  border-top: none;
  background: #fff;
  padding: 15px 0;
  border-radius: 5px;
  text-align: center;
}
.pagination .extend {
  border-top: none;
  color: #97dffd;
  border: none;
}
.pagination .prev {
  margin-left: 0;
}
.pagination .next {
  margin-right: 0;
}
.pagination .page-number {
  background: #fff;
  color: #97dffd;
  border-radius: 5px;
  border: 1px solid #97dffd;
}
.pagination .page-number.current {
  background: #97dffd;
  border: 1px solid #97dffd;
  color: #fff;
}
.pagination .space {
  padding: 0;
  margin: 0;
}
.sidebar {
  display: inline-block;
  width: 315px;
  box-shadow: none;
  margin: 0;
  background: #fff;
  border-radius: 5px;
  margin-left: 15px;
  float: right;
  position: static;
}
@media (max-width: 991px) {
  .sidebar {
    display: none;
  }
}
.sidebar .sidebar-inner {
  padding: 20px 16px;
  box-sizing: border-box;
  width: 315px;
  color: #555;
  background: #fff;
  box-shadow: initial;
  border-radius: initial;
  border-radius: 5px;
  z-index: 2;
  text-align: center;
}
.sidebar .sidebar-inner.affix {
  position: fixed;
  top: 52px;
}
.sidebar .sidebar-inner.affix-bottom {
  position: absolute;
  width: 315px;
}
.sidebar .sidebar-inner .sidebar-nav {
  margin: 0 0 20px;
  padding-left: 0;
}
.sidebar .sidebar-inner .post-toc-wrap {
  overflow: hidden;
}
.sidebar .sidebar-inner .site-overview-wrap {
  overflow: hidden;
}
.sidebar .sidebar-inner .sidebar-nav {
  margin: 0 0 20px;
  padding-left: 0;
}
.sidebar .sidebar-inner .sidebar-nav li {
  display: inline-block;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  font-size: 14px;
  color: #555;
}
.sidebar .sidebar-inner .sidebar-nav .sidebar-nav-active {
  color: #fc6423;
  border-bottom-color: #fc6423;
}
.sidebar .sidebar-inner .sidebar-nav-toc {
  padding: 0 5px;
}
.sidebar .sidebar-inner .site-overview {
  text-align: left;
  max-height: 590px;
  overflow-y: hidden;
  overflow-x: hidden;
}
.sidebar .sidebar-inner .site-overview .site-author {
  position: relative;
}
.sidebar .sidebar-inner .site-overview .site-author:after,
.sidebar .sidebar-inner .site-overview .site-author:before {
  content: " ";
  display: table;
}
.sidebar .sidebar-inner .site-overview .site-author:after {
  clear: both;
}
.sidebar .sidebar-inner .site-overview .site-author .site-author-image {
  max-width: none;
  width: 100%;
  border: none;
  padding: 0;
  display: block;
  margin: 0 auto;
}
.sidebar .sidebar-inner .site-overview .site-author .site-author-name {
  position: absolute;
  bottom: 36px;
  margin: 0 0 0 -65px;
  font-size: 20px;
  letter-spacing: 0.5px;
  color: #ff9800;
  text-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff;
  font-weight: 700;
  width: 130px;
  left: 50%;
}
.sidebar .sidebar-inner .site-overview .site-author .site-description {
  font-size: 14px;
  margin: 7px 0;
  font-weight: 700;
  color: #555;
  text-align: center;
}
.sidebar .sidebar-inner .site-overview .links-of-author {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 10px;
  font-size: 13px;
}
.sidebar .sidebar-inner .site-overview .links-of-author .links-of-author-item {
  margin: 0 0 7px;
}
.sidebar .sidebar-inner .site-overview .links-of-author .links-of-author-item a {
  display: block;
  text-decoration: none;
  overflow: visible;
  max-width: 216px;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-bottom: none;
}
.sidebar .sidebar-inner .site-overview .links-of-author .links-of-author-item i {
  font-size: 12px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  color: rgba(0,0,0,0.5);
  fill: rgba(0,0,0,0.5);
  background-color: rgba(230,244,249,0.8);
  transition: all 0.3s ease-in-out;
  font-style: normal;
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
.sidebar .sidebar-inner .site-overview .links-of-author .links-of-author-item i svg {
  width: 18px;
}
.sidebar .sidebar-inner .site-overview .links-of-author .links-of-author-item i svg,
.sidebar .sidebar-inner .site-overview .links-of-author .links-of-author-item i:before {
  font-size: 18px;
  margin-right: 5px;
}
.sidebar .sidebar-inner .site-overview .links-of-author .links-of-author-item i span {
  color: rgba(0,0,0,0.5);
  font-family: "PingFang SC", "Microsoft YaHei", Lato, sans-serif;
}
.sidebar .sidebar-inner .site-overview .des-of-author {
  font-size: 12px;
  margin: 10px 0;
  color: rgba(0,0,0,0.5);
  border-radius: 4px;
  min-height: 120px;
}
.sidebar .sidebar-inner .site-overview .des-of-author .des-of-author-nav {
  width: 105px;
  float: left;
}
.sidebar .sidebar-inner .site-overview .des-of-author .des-of-author-nav .des-of-author-title {
  display: block;
  font-weight: 700;
  cursor: pointer;
}
.sidebar .sidebar-inner .site-overview .des-of-author .des-of-author-nav .des-of-author-title.active:after {
  content: "→";
}
.sidebar .sidebar-inner .site-overview .des-of-author .des-of-author-nav .des-of-author-title.active {
  color: #97dffd;
}
.sidebar .sidebar-inner .site-overview .des-of-author .des-of-author-panel {
  margin-left: 105px;
}
.sidebar .sidebar-inner .site-overview .des-of-author .des-of-author-panel .des-of-author-des {
  display: none;
}
.sidebar .sidebar-inner .site-overview .des-of-author .des-of-author-panel .des-of-author-des.active {
  display: block;
}
.sidebar .sidebar-inner .post-toc {
  overflow: auto;
}
.sidebar .sidebar-inner .post-toc ol {
  margin: 0;
  padding: 0 2px 5px 10px;
  text-align: left;
  list-style: none;
  font-size: 14px;
}
.sidebar .sidebar-inner .post-toc ol a {
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: all;
  color: #666;
  border-bottom-color: #ccc;
}
.sidebar .sidebar-inner .post-toc .nav-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.8;
}
.sidebar .sidebar-inner .post-toc .nav .active-current>a {
  color: #fc6423;
  border-bottom-color: #fc6423;
}
.sidebar .sidebar-inner .sidebar-panel {
  display: none;
}
.sidebar .sidebar-inner .sidebar-panel-active {
  display: block;
}
.comments {
  background: #fff;
  margin: 0;
  padding: 40px;
  border-radius: 5px;
}
.page-post-detail .comments {
  overflow: hidden;
}
.posts-collapse {
  position: relative;
  margin-left: 55px;
  z-index: 0;
}
.posts-collapse .posts-collapse-x {
  position: relative;
}
.posts-collapse .posts-collapse-x::after {
  content: " ";
  position: absolute;
  top: 78px;
  bottom: 13px;
  left: -2px;
  width: 4px;
  background: rgba(151,223,253,0.1);
  z-index: -1;
}
.posts-collapse .post-collapse-title {
  color: #444;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}
.posts-collapse .category-all-title {
  text-align: left;
  font-size: 22px;
  font-weight: 700;
}
.posts-collapse .category-all-page .category-all {
  margin-top: 20px;
}
.posts-collapse .category-all-page .category-all .category-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.posts-collapse .category-all-page .category-all .category-list .category-list-item {
  margin: 5px 10px;
}
.posts-collapse .category-all-page .category-all .category-list .category-list-item .category-list-count {
  color: #bbb;
}
.posts-collapse .category-all-page .category-all .category-list .category-list-item .category-list-count:before {
  display: inline;
  content: " (";
}
.posts-collapse .category-all-page .category-all .category-list .category-list-item .category-list-count:after {
  display: inline;
  content: ") ";
}
.posts-collapse .category-all-page .category-all .category-list .category-list-item .category-list-child {
  padding-left: 10px;
}
.posts-collapse .collection-year {
  position: relative;
}
.posts-collapse .collection-year::after {
  content: " ";
  position: absolute;
  top: 78px;
  bottom: 13px;
  left: -2px;
  width: 4px;
  background: rgba(151,223,253,0.1);
  z-index: -1;
}
.posts-collapse .collection-title {
  position: relative;
  margin: 30px 0;
}
.posts-collapse .post-header {
  position: relative;
  margin-bottom: 10px;
  line-height: 28px;
}
.posts-collapse .post-header::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 10px;
  width: 6px;
  height: 6px;
  margin-left: -4px;
  background: #97dffd;
  border-radius: 50%;
  border: 1px solid #fff;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: background;
}
.posts-collapse .post-title {
  margin: 0 0 0 70px;
  font-size: 14px;
  font-weight: 400;
  line-height: inherit;
  text-align: inherit;
}
.posts-collapse .post-title a {
  color: #666;
  border-bottom: none;
  font-size: inherit;
}
.posts-collapse .post-header .post-title {
  text-align: inherit;
}
.posts-collapse .post-meta {
  position: absolute;
  font-size: 12px;
  left: 20px;
  top: 0;
  margin: 0;
}
.posts-collapse .post-meta .post-time {
  color: #00a7e0;
}
.posts-collapse .post {
  padding: 0;
  margin: 0;
  background: 0 0;
}
.posts-collapse .post .post-title-link {
  vertical-align: initial;
}
