$fontawesome = hexo-config('vendors.fontawesome')
@import $fontawesome
@import 'https://cdn.jsdelivr.net/npm/disqusjs@1.2/dist/disqusjs.css'

@import '_mixins/base'
@import '_variables/base'
@import "_common/components/highlight";

@font-face {
  font-family: 'Candyshop';
  src: url(/fonts/Candyshop.otf);
}

body {
	position: relative;
	margin: 0;
	font-family: "PingFang SC","Microsoft YaHei",Lato,sans-serif;
	font-size: 14px;
	line-height: 2;
	color: #555;
	background:#efefef;
	cursor:url('../images/cursor.png'),auto;
}
ul,li {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	text-decoration: none;
	&:visited,&:hover,&:active {
		text-decoration: none;
	}
}

a {
	color: blue;
	&:hover {
		color: #f900ff;
	}
	&:hover,&:active {
		outline: 0;
	}
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

input {
    line-height: normal;
}

img {
    border: 0;
	display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: 700;
    line-height: 1.5;
    font-family: "PingFang SC","Microsoft YaHei",Lato,sans-serif;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

[hidden],template {
	display:none
}

.clear-float {
	clear: both;
}
.btn {
    display: inline-block;
    padding: 0 20px;
    font-size: 14px;
    color: #555;
    background: #fff;
    border: 2px solid #555;
    text-decoration: none;
    border-radius: 2px;
    transition-property: background-color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    line-height: 2;
}

.btn {
    background: #97dffd;
    color: #fff;
    font-size: 13px;
    padding: 1px 15px;
    border-radius: 5px;
    border: none;
}

.btn:hover {
    border-color: #222;
    color: #fff;
    background: #97dffd;
}
.scaleup {
    transition: .3s ease;
}

.scaleup:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}



.container {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
}

.site-nav {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	text-shadow: 0 1px 1px rgba(11, 8, 231, .6);
	background: linear-gradient(rgba(0,0,0,.3),transparent);
	z-index: 3;
}

.menu {
	position: relative;
	margin-top: 0;
	padding-left: 0;
    margin: 0 auto;
    width: 1110px;
    text-align: left;
	.menu-item {
		position: relative;
		display: inline-block;
		height: 58px;
		line-height: 58px;
		border: 0;
		text-align: left;
		color: #fff;
		.submenu {
			position: absolute;
			left: -10px;
			right: -10px;
			+mobile(){
				left: -30px;
				right: -30px;
			}
			top: 58px;
			text-align: center;
			list-style-type: none;
			background: #fff;
			overflow: hidden;
			the-transition-ease-out()
			height: 0;
			border-radius: 4px;
			box-shadow: 0 2px 4px rgba(0,0,0,.14);
			a {
				border-bottom: none;
				line-height: 20px;
				padding: 10px 0;
				color: #444;
				text-shadow: none;
				font-size: 14px;
			}
			.submenu-item:hover {
				background: #eee;
			}
		}
		
		a {
			display: block;
			box-sizing: border-box;
			padding: 0 12px;
			line-height: inherit;
			color: #fff;
			font-size: 16px;
			border-bottom: none;
			the-transition-ease-out()
			i {
				margin-right: 5px;
				+mobile(){
					display: none;
				}
			}
			br {
				display: none;
			}
		}
		&.search {
			float: right;
			margin: 0 0 0 20px;
			.search-input {
				border: none;
				border-radius: 4px;
				color: #555;
				font-size: 13px;
				outline: 0;
				width: 0;
				padding: 3px 0;
				transition: all .5s ease-in-out;
			}
			.search-submit {
				cursor: pointer;
				margin-left: 5px;
				background: 0 0;
				padding: 0;
				border: none;
				outline: 0;
				i {
					font-size: 17px;
					margin: 0;
					text-shadow: 0 1px 1px rgba(0,0,0,.3);
				}
			}
			&:hover .search-input {
				padding: 8px;
				width: 120px;
			}
			+mobile(){
				display: none;
			}
		}
		&.online {
			float: right;
			font-size: 12px;
			margin: 0;
			+mobile(){
				display: none;
			}
		}
		+mobile(){
			text-align: center;
			padding: 0;
		}
		+mobile(){
			flex: 1;
			-webkit-box-flex: 1;
			margin: 0;
		}
	}
	+mobile(){
		display: flex;
		width: 100%;
	}
}

$header_image = hexo-config('header_image')
.site-brand-wrapper {
	position: relative;
    height: 650px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	if $header_image {
		background-image:url($header_image);
	}
	else {
		background-image:url('../images/minato-aqua.jpg');
	}
	+mobile(){
		height: 320px;
	}
}

.site-meta {
    padding: 20px 0;
    color: #fff;
	margin: 0;
    text-align: center;
}
.brand {
	padding: 0;
	background: 0 0;
	position: relative;
	top: 320px;
	font-size: 68px;
	text-align: center;
	text-shadow: 0 1px 1px #47456d;
	margin-bottom: 130px;
	z-index: 1;
	font-family: Candyshop;
	display: block;
	color: #fff;
	border-bottom: none;
	+mobile(){
		font-size: 7.8vw;
		top: 156px;
		margin-bottom: 0;
	}
	.site-title {
		text-shadow: 1px 1px 0 #ff3f1a, -1px -1px 0 #00a7e0;
		.animate {
			transition: .3s;
			position: absolute;
			top: 0;
			span {
				position: absolute;
				opacity: 0;
			}
			svg {
				fill: #f900ff;
				overflow: visible;
				text-shadow: none;
				height: 1px;
			}
			use {
				stroke: #fff;
				stroke-width: 13px;
				stroke-linejoin: round;
			}
		}
		.guide {
			visibility: hidden;
			pointer-events: none;
		}
	}
}

.site-master {
    text-align: center;
    width: 70%;
    margin: auto;
	
    padding: 40px 0;
    padding-bottom: 40px;
    font-size: 16px;
    opacity: .98;
    z-index: 1;
    animation: b 1s ease-out;
    position: relative;
    border-radius: 5px;
	+mobile(){
		display: none;
	}
	.site-master-avatar {
		width: 100px;
		height: 100px;
		border-radius: 100%;
		border: 2px dashed #fff;
		padding: 5px;
	}
	.site-master-description {
		font-size: 18px;
		font-weight: 700;
		margin: 20px 0 0;
		display: inline-block;
		color: #97dffd;
		text-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff;
	}
}

.footer {
	position: relative;
	width: 100%;
	margin: 0;
	text-align: center;
	padding: 15px 0 10px;
	font-size: 12px;
    line-height: 1.5;
	min-height: 50px;
	.footer-inner {
		box-sizing: border-box;
		p {
			margin: 5px 0;
			+mobile(){
				padding: 0 5px;
				white-space: nowrap;
				text-overflow: ellipsis;
				-o-text-overflow: ellipsis;
				overflow: hidden;
			}
		}
	}
}




.main {
    padding-bottom: 120px;
}
.main:after, .main:before {
    content: " ";
    display: table;
}
.main:after {
	clear: both;
}
.container .main-inner {
    width: 1110px;
	margin: 0 auto;
	+mobile(){
		width: auto;
	}
	.content-wrap {
		display: inline-block;
		box-sizing: border-box;
		width: 772px;
		min-height: 700px;
		box-shadow: initial;
		border-radius: initial;
		+mobile(){
			width: 100%;
			padding: 0;
			min-height: auto;
			border-radius: initial;
		}
	}
	
}
.posts-expand {
    padding-top: 0;
}
.post {
    position: relative;
    padding: 40px;
    background: #fff;
    margin-bottom: 40px;
    border-radius: 5px;
	
	.post-date {
		background-color: #97dffd;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
		position: absolute;
		top: -20px;
		left: -30px;
		height: 60px;
		width: 70px;
		padding-top: 10px;
		border-radius: 100px;
		color: #fff;
		text-align: center;
		line-height: 1.1;
		+mobile(){
			display: none;
		}
		.post-day {
			font-size: 30px;
			font-weight: 700;
		}
	}
	.post-badge {
		position: absolute;
		left: -16px;
		top: 105px;
		border-color: #47456d;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
		background-color: #97dffd;
		margin: 5px 0 15px 2px;
		font-size: 14px;
		border-radius: 0 4px 4px 0;
		display: inline-block;
		padding: 7px 11px 7px 32px;
		line-height: 1;
		+mobile(){
			display: none;
		}
		&:after {
			position: absolute;
			content: "";
			top: 100%;
			left: 0;
			border-top: 0 solid transparent;
			border-right-width: 1em;
			border-right-color: inherit;
			border-right-style: solid;
			border-bottom: 1em solid transparent;
			border-left: 0 solid transparent;
			width: 0;
			height: 0;
		}
		a {
			color: #fff;
		}
	}
	.post-header {
		margin-bottom: 20px;
		.post-title {
			text-align: center;
			word-break: break-word;
			font-weight: 400;
		}
	}
	.post-title-link {
		display: inline-block;
		position: relative;
		color: #555;
		border-bottom: none;
		line-height: 1.2;
		vertical-align: top;
	}
	.post-title, .post-title-link {
		color: #444;
		font-size: 25px;
		font-weight: 700;
	}
	.post-meta-item-icon {
		margin-right: 3px;
	}
	.post-meta {
		margin: 3px 0 60px 0;
		color: #555;
		margin-top: 5px;
		font-family: "PingFang SC","Microsoft YaHei",Lato,sans-serif;
		font-size: 12px;
		text-align: center;
		.post-time {
			color: #00a7e0;
		}
		.post-wordcount {
			color: #000;
			display: inline-block;
			.post-meta-divider {
				margin: 0 .5em;
			}
		}
	}
	
	+mobile(){
		.post-body {
			text-align: justify;
		}
	}
	.post-button {
		margin-top: 40px;
	}
	.text-center {
		text-align: center;
	}
	
	.post-nav {
		display: table;
		margin-top: 15px;
		width: 100%;
		border-top: 1px solid #eee;
		.post-nav-item {
			display: table-cell;
			padding: 40px 0 0 0;
			width: 45%;
			vertical-align: top;
			a {
				position: relative;
				display: block;
				line-height: 25px;
				font-size: 14px;
				color: #555;
				border-bottom: none;
				padding-left: 15px;
			}
		}
		.post-nav-divider {
			display: table-cell;
			width: 10%;
		}
		.post-nav-prev {
			text-align: right;
			a {
				padding-right: 15px;
			}
		}
	}
	
}
.page-number-basic, .pagination .next, .pagination .page-number, .pagination .prev, .pagination .space {
    display: inline-block;
    position: relative;
    top: -1px;
    margin: 0 10px;
    padding: 0 11px;
}
.pagination .next, .pagination .page-number, .pagination .prev {
    border-bottom: 0;
    border-top: 1px solid #eee;
    transition-property: border-color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
.pagination {
    margin: 20px 0;
    border-top: none;
    background: #fff;
    padding: 15px 0;
    border-radius: 5px;
	text-align: center;
	
	.extend {
		border-top: none;
		color: #97dffd;
		border: none;
	}
	.prev {
		margin-left: 0;
	}
	.next {
		margin-right: 0;
	}
	
	.page-number {
		background: #fff;
		color: #97dffd;
		border-radius: 5px;
		border: 1px solid #97dffd;
	}
	
	.page-number.current {
		background: #97dffd;
		border: 1px solid #97dffd;
		color: #fff;
	}
	.space {
		padding: 0;
		margin: 0;
	}
}

.sidebar {
	display: inline-block;
	width: 315px;
	box-shadow: none;
	margin: 0;
    background: #fff;
    border-radius: 5px;
	margin-left: 15px;
	float: right;
	position: static;
	+mobile(){
		display: none;
	}
	.sidebar-inner {
		padding: 20px 16px;
		box-sizing: border-box;
		width: 315px;
		color: #555;
		background: #fff;
		box-shadow: initial;
		border-radius: initial;
		border-radius: 5px;
		z-index: 2;
		text-align: center;
		&.affix {
			position: fixed;
			top: 52px;
		}
		&.affix-bottom {
			position: absolute;
			width: 315px;
		}
		.sidebar-nav {
			margin: 0 0 20px;
			padding-left: 0;
		}
		.post-toc-wrap {
			overflow: hidden;
		}
		.site-overview-wrap {
			overflow: hidden;
		}
		.sidebar-nav {
			margin: 0 0 20px;
			padding-left: 0;
			li {
				display: inline-block;
				cursor: pointer;
				border-bottom: 1px solid transparent;
				font-size: 14px;
				color: #555;
			}
			.sidebar-nav-active {
				color: #fc6423;
				border-bottom-color: #fc6423;
			}
		}
		.sidebar-nav-toc {
			padding: 0 5px;
		}
		.site-overview {
			text-align: left;
			max-height: 590px;
			overflow-y: hidden;
			overflow-x: hidden;
			.site-author {
				position: relative;
				&:after, &:before {
					content: " ";
					display: table;
				}
				&:after {
					clear: both;
				}
				.site-author-image {
					max-width: none;
					width: 100%;
					border: none;
					padding: 0;
					display: block;
					margin: 0 auto;
				}
				.site-author-name {
					position: absolute;
					bottom: 36px;
					margin: 0 0 0 -65px;
					font-size: 20px;
					letter-spacing: .5px;
					color: #ff9800;
					text-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff;
					font-weight: 700;
					width: 130px;
					left: 50%;
				}
				.site-description {
					font-size: 14px;
					margin: 7px 0;
					font-weight: 700;
					color: #555;
					text-align: center;
				}
			}
			.links-of-author {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				margin: 0 0 10px;
				font-size: 13px;
				.links-of-author-item {
					margin: 0 0 7px;
					a {
						display: block;
						text-decoration: none;
						overflow: visible;
						max-width: 216px;
						box-sizing: border-box;
						margin-right: 0;
						margin-bottom: 0;
						padding: 0 5px;
						white-space: nowrap;
						text-overflow: ellipsis;
						border-bottom: none;
					}
					i {
						font-size: 12px;
						display: inline-block;
						height: 30px;
						line-height: 30px;
						border-radius: 15px;
						color: rgba(0,0,0,.5);
						fill: rgba(0,0,0,.5);
						background-color: rgba(230,244,249,.8);
						transition: all .3s ease-in-out;
						font-style: normal;
						display: flex;
						vertical-align: middle;
						align-items: center;
						justify-content: center;
						padding: 0 10px;
						svg {
							width: 18px;
						}
						svg, &:before {
							font-size: 18px;
							margin-right: 5px;
						}
						span {
							color: rgba(0,0,0,.5);
							font-family: "PingFang SC", "Microsoft YaHei", Lato, sans-serif;
						}
					}
				}
			}
			.des-of-author {
				font-size: 12px;
				margin: 10px 0;
				color: rgba(0,0,0,.5);
				border-radius: 4px;
				min-height: 120px;
				.des-of-author-nav {
					width: 105px;
					float: left;
					.des-of-author-title {
						display: block;
						font-weight: 700;
						cursor: pointer;
						&.active:after {
							content: "→";
						}
						&.active {
							color: #97dffd;
						}
					}
				}
				.des-of-author-panel {
					margin-left: 105px;
					.des-of-author-des {
						display: none;
						&.active {
							display: block;
						}
					}
				}
			}
		}
		.post-toc {
			overflow: auto;
			ol {
				margin: 0;
				padding: 0 2px 5px 10px;
				text-align: left;
				list-style: none;
				font-size: 14px;
				a {
					transition-duration: .2s;
					transition-timing-function: ease-in-out;
					transition-delay: 0s;
					transition-property: all;
					color: #666;
					border-bottom-color: #ccc;
				}
			}
			.nav-item {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				line-height: 1.8;
			}
			.nav .active-current>a {
				color: #fc6423;
				border-bottom-color: #fc6423;
			}
		}
		.sidebar-panel {
			display: none;
		}
		.sidebar-panel-active {
			display: block;
		}
	}
}
.comments {
    background: #fff;
    margin: 0;
    padding: 40px;
    border-radius: 5px;
}

.page-post-detail .comments {
    overflow: hidden;
}




.posts-collapse {
    position: relative;
    margin-left: 55px;
	z-index: 0;
	.posts-collapse-x {
		position: relative;
		&::after {
			content: " ";
			position: absolute;
			top: 78px;
			bottom: 13px;
			left: -2px;
			width: 4px;
			background: rgba(151,223,253,.1);
			z-index: -1;
		}
	}
	.post-collapse-title {
		color: #444;
		font-size: 25px;
		font-weight: 700;
		text-align: center;
		margin-bottom: 30px;
	}
	.category-all-title {
		text-align: left;
		font-size: 22px;
		font-weight: 700;
	}
	.category-all-page {
		.category-all {
			margin-top: 20px;
			.category-list {
				margin: 0;
				padding: 0;
				list-style: none;
				.category-list-item {
					margin: 5px 10px;
					.category-list-count {
						color: #bbb;
					}
					.category-list-count:before {
						display: inline;
						content: " (";
					}
					.category-list-count:after {
						display: inline;
						content: ") ";
					}
					.category-list-child {
						padding-left: 10px;
					}
				}
			}
		}
	}
	
	.collection-year {
		position: relative;
		&::after {
			content: " ";
			position: absolute;
			top: 78px;
			bottom: 13px;
			left: -2px;
			width: 4px;
			background: rgba(151,223,253,.1);
			z-index: -1;
		}
		
	}
	.collection-title {
		position: relative;
		margin: 30px 0;
	}
	.post-header {
		position: relative;
		margin-bottom: 10px;
		line-height: 28px;
		&::before {
			content: " ";
			position: absolute;
			left: 0;
			top: 10px;
			width: 6px;
			height: 6px;
			margin-left: -4px;
			background: #97dffd;
			border-radius: 50%;
			border: 1px solid #fff;
			transition-duration: .2s;
			transition-timing-function: ease-in-out;
			transition-delay: 0s;
			transition-property: background;
		}
	}
	.post-title {
		margin: 0 0 0 70px;
		font-size: 14px;
		font-weight: 400;
		line-height: inherit;
		text-align: inherit;
		a {
			color: #666;
			border-bottom: none;
			font-size: inherit;
		}
	}
	.post-header .post-title {
		text-align: inherit;
	}
	.post-meta {
		position: absolute;
		font-size: 12px;
		left: 20px;
		top: 0;
		margin: 0;
		.post-time {
			color: #00a7e0;
		}
	}
	.post {
		padding: 0;
		margin: 0;
		background: 0 0;
		.post-title-link {
			vertical-align: initial;
		}
	}
}
